/* HEADER */
  /* NAV */
.nav-right{
  text-align: right
}
.nav{
  color: white;
  padding: 20px 0;
  background-color: #2c3e50;
}
  /* /NAV */
  /* JUMBOTRON */
.jumbotron{
  background-color: #1abc9c;
}
.jumbotron .content{
  max-width: 700px;
  margin: auto;
  background-color: yellow;
  text-align: center;
}
  /* /JUMBOTRON */
/* /HEADER */
/* SECTION_1 */
h2{
  text-align: center;
}
.main_photo{
  height: 250px;
  background-color: red;
  margin-bottom: 30px;
}
/* /SECTION_1 */
/* SECTION_2 */
.section_2{
  background-color: #1abc9c;
}
.section_2 .button_sc2{
  text-align: center;
}
/* /SECTION_2 */
/* SECTION_3 */
.button_sc3{
  margin-left: 0;
}
/* /SECTION_3 */
/* FOOTER */
.footer_top{
  background-color: #3a546d;
}
.footer_bottom{
background-color: #2c3e50;
}
.copyright{
  text-align: center;
}
/* /FOOTER */
